; Archivo de configuración para ejecuciones XU.

; Flags y configuraciones:
; las siguientes son configuraciones de archivos temporales creados por las llamadas a shell:
; clear_log=yes/no
;    * borra los archivos temporales creados en directorio LOG.
; si no le pones "yes", te puedes llenar de archivos temporales. Usa "no" para efectos de
; debugueo cuando llames al sistema o cuando compiles, aunque para eso también está el directorio
; debug.
clear_log=yes

; define la cantidad de bytes en stack de direcciones y stack de trabajo. El stack de direcciones tiene 20 bytes por defecto, y el stack de trabajo
; bstack_normal=20
; el stack para funciones recursivas. Por defecto 256
bstack_recursive=512
; Fix de números decimales. Por defecto 4
; decimal_fix=4
;

; Las siguientes variables almacenan los paths para cada proceso indicado.
; Para DOS/WIN, indicar UNIDAD:\DIRECTORIO-XU\LO-QUE-SIGUE, o simplemente
; indicar LO-QUE-SIGUE. Ejemplo: root=c:\xu, y source=source

; directorio raiz donde están los ejecutables XUC y XU, entre otros,
; se debe declarar en la variable de entorno PATH_XU

; EN LAS SIGUIENTES LINEAS, puedes cambiar el nombre de los directorios a tu puta gana.

; directorio de programas fuente .XU
source=source

; directorio donde se guardan los archivos binarios ejecutables .X
binary=binary

; salida de comando OUT/OUT_OFF. Este comando remite toda la salida a un
; archivo indicado en el mismo comando. Ese archivo queda en este directorio.
output=output

; gestion de archivos de texto y binarios
; en esta carpeta se deben almacenar todos los archivos de texto y binarios
; que serán abiertos con la instruccion OPEN y CREATE
utility=util

; archivos de definiciones (include)
; carpeta donde se guardarán los archivos .DEF
include=include

; archivos LOG (comandos shell y salida log)
log=log

; archivos de debug
; estos archivos son: listado de variables (.VAR), mapa del programa (.MAP),
; archivo preprocesado (.XPRE)
debug=debug

; utilitarios del programa:
utils=./

; archivos temporales de compilacion
temp=tmp

; archivos de librería .lib
lib=lib

; archivos de ayuda de editor XUED
help=help
